.main-side{
    background-color: rgb(255, 252, 224);
}
.sidebar-header{
    display: flex;
    flex-direction: row;
    border-color: navy;
    border-width: 1px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, 0.2);
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Sigmar";
    color: rgb(28, 35, 135);
    font-size: x-large;
    align-items:center;
}
.sidebar-header >img {
    margin-left: 5px;
    margin-right: 3px;
}
.sidebar-footer{
    display: flex;
    flex-direction: row;
    border-color: navy;
    border-width: 1px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, 0.2);
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.sigmar-regular {
    font-family: "Sigmar", serif;
    font-weight: 400;
    font-style: normal;
  }