nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}
.sigmar-regular {
    font-family: "Sigmar", serif;
    font-weight: 400;
    font-style: normal;
  }

.title{
    font-family: "Sigmar";
    width: 80%;
    font-size: 2.65rem;
    color: rgb(28, 35, 135);
}

nav > img {
    margin: 20px 15px 10px 20px;;
}
header{
    background-color: aliceblue;
}
.username, .logg{
    margin: 10px;
    margin-bottom: 20px;
    font-size: medium;
    color: rgb(28, 35, 135);
    font-weight: 550;
}